:root {
    --bg-color:rgb(25,29,43);
    --text-color: #fdfdfd;
    --main-color: #27AE60;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .7);
    --black-color:rgba(0,0,0);
  }
.home-section{
background-color: var(--bg-color);

}
  main{
    overflow: hidden; 

  }
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
}
.home-container{

    grid-template-columns: repeat(2, 636px);
    gap: 2rem 4rem;
    align-items: center;
    padding-block: 5.5rem;
}

.grid{
    display: grid;
   gap: 1.5rem;
   
}
.container{
    max-width: 1120px;
    margin-inline: 1.5rem;

}

/* home info */
.home__name{
    order: 0;
}
.home_perfill{
    display: flex;
    gap: 2rem;
  padding-left:10rem;
  order: 1;
}

.paragraph{
    text-align: initial;
    padding-left: 3rem;
    font-size:20px;
    
}
.home_info{
    margin-top: 4rem;
   align-self: flex-start;
   order: 1;
  }
 .paragraph {

    color: var(--text-color);
    margin-bottom: 1.5rem;
  }


/* home-img */

.home-image{
 order:2;
}
.home-image{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
   
}
img{ 
  display: block;
  width: 100%;
  height: auto;
  object-fit: fill;
  align-items:center;
  border: 5px solid var(--white-color);
  box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.3); 
}
img.home-img{ 
    display: block;
    width: 44%;
    height: auto;
    object-fit: fill;
    align-items:center;
    border: 5px solid var(--white-color);
    box-shadow: 20px 0xpx 0 px rgba(0, 0, 0, 0.3); 
  }
img:hover{
  transform: scale(1.1);
}
.home-img{
width: 620px;
}
.home__perfill{
    order: 3;
    position: relative;
    justify-self: center;
  }


/*navbar designs*/
.navbar-nav .nav-link.active{
    color: var(--text-color) !important;
}
.offcanvas-body{
    background-color: var(--bg-color);
}
.offcanvas-header{
    background-color: var(--bg-color);
}
.offcanvas-title{
    color:var(--main-color);
    background-color: var(--bg-color);
}

.navbar{
    background-color: var(--bg-color);
}
.container-fluid .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.container-fluid .navbar-toggler{
    border:none;
    font-size: 1.25rem;
   
    
}
/*portfolio*/
.container-fluid .navbar-brand{
    font-family: "Maven Pro",sans-serif;
    font-weight: 700;
    color: #27AE60;
    transition: 0.3s color;
    padding-left: 50px;
}
.container-fluid .navbar-brand:hover{
    color: var(--text-color);
}
.container-fluid .navbar-toggler:focus{
    box-shadow: none;
    outline:none;
}
.navbar{
    z-index: 1;
}


.navbar .nav-link{
   font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 580 ;
  font-style: normal;
  position: relative ;
  color: var(--main-color);
}
.navbar .nav-link:hover, .nav-link.active{
color: var(--text-color);
}
@media(min-width:991px){
    .navbar .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 0;
        height: 2px;
        background-color: var(--main-color);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .navbar .nav-link:hover::before, .navbar .nav-link.active::before{
        width: 100%;
        visibility:visible ;

    }
}





  /* home design */

/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
.social-media{
    position: relative;
    left: 90px;
    word-spacing: 10px;
}
.icons{
    margin: 10px;
    gap: 10px;
    display: flex;
}
.devicon--facebook:hover{
transform: scale(1.3);
z-index: 2;
}
.devicon--facebook {
    
    display: inline-block;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Crect width='118.35' height='118.35' x='4.83' y='4.83' fill='%233d5a98' rx='6.53' ry='6.53'/%3E%3Cpath fill='%23fff' d='M86.48 123.17V77.34h15.38l2.3-17.86H86.48v-11.4c0-5.17 1.44-8.7 8.85-8.7h9.46v-16A127 127 0 0 0 91 22.7c-13.62 0-23 8.3-23 23.61v13.17H52.62v17.86H68v45.83z'/%3E%3C/svg%3E");
  }
  .skill-icons--instagram:hover{
    transform: scale(1.3);
z-index: 2;
  }
  .skill-icons--instagram {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='url(%23skillIconsInstagram0)' rx='60'/%3E%3Crect width='256' height='256' fill='url(%23skillIconsInstagram1)' rx='60'/%3E%3Cpath fill='%23fff' d='M128.009 28c-27.158 0-30.567.119-41.233.604c-10.646.488-17.913 2.173-24.271 4.646c-6.578 2.554-12.157 5.971-17.715 11.531c-5.563 5.559-8.98 11.138-11.542 17.713c-2.48 6.36-4.167 13.63-4.646 24.271c-.477 10.667-.602 14.077-.602 41.236s.12 30.557.604 41.223c.49 10.646 2.175 17.913 4.646 24.271c2.556 6.578 5.973 12.157 11.533 17.715c5.557 5.563 11.136 8.988 17.709 11.542c6.363 2.473 13.631 4.158 24.275 4.646c10.667.485 14.073.604 41.23.604c27.161 0 30.559-.119 41.225-.604c10.646-.488 17.921-2.173 24.284-4.646c6.575-2.554 12.146-5.979 17.702-11.542c5.563-5.558 8.979-11.137 11.542-17.712c2.458-6.361 4.146-13.63 4.646-24.272c.479-10.666.604-14.066.604-41.225s-.125-30.567-.604-41.234c-.5-10.646-2.188-17.912-4.646-24.27c-2.563-6.578-5.979-12.157-11.542-17.716c-5.562-5.562-11.125-8.979-17.708-11.53c-6.375-2.474-13.646-4.16-24.292-4.647c-10.667-.485-14.063-.604-41.23-.604zm-8.971 18.021c2.663-.004 5.634 0 8.971 0c26.701 0 29.865.096 40.409.575c9.75.446 15.042 2.075 18.567 3.444c4.667 1.812 7.994 3.979 11.492 7.48c3.5 3.5 5.666 6.833 7.483 11.5c1.369 3.52 3 8.812 3.444 18.562c.479 10.542.583 13.708.583 40.396s-.104 29.855-.583 40.396c-.446 9.75-2.075 15.042-3.444 18.563c-1.812 4.667-3.983 7.99-7.483 11.488c-3.5 3.5-6.823 5.666-11.492 7.479c-3.521 1.375-8.817 3-18.567 3.446c-10.542.479-13.708.583-40.409.583c-26.702 0-29.867-.104-40.408-.583c-9.75-.45-15.042-2.079-18.57-3.448c-4.666-1.813-8-3.979-11.5-7.479s-5.666-6.825-7.483-11.494c-1.369-3.521-3-8.813-3.444-18.563c-.479-10.542-.575-13.708-.575-40.413s.096-29.854.575-40.396c.446-9.75 2.075-15.042 3.444-18.567c1.813-4.667 3.983-8 7.484-11.5s6.833-5.667 11.5-7.483c3.525-1.375 8.819-3 18.569-3.448c9.225-.417 12.8-.542 31.437-.563zm62.351 16.604c-6.625 0-12 5.37-12 11.996c0 6.625 5.375 12 12 12s12-5.375 12-12s-5.375-12-12-12zm-53.38 14.021c-28.36 0-51.354 22.994-51.354 51.355s22.994 51.344 51.354 51.344c28.361 0 51.347-22.983 51.347-51.344c0-28.36-22.988-51.355-51.349-51.355zm0 18.021c18.409 0 33.334 14.923 33.334 33.334c0 18.409-14.925 33.334-33.334 33.334s-33.333-14.925-33.333-33.334c0-18.411 14.923-33.334 33.333-33.334'/%3E%3Cdefs%3E%3CradialGradient id='skillIconsInstagram0' cx='0' cy='0' r='1' gradientTransform='matrix(0 -253.715 235.975 0 68 275.717)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fd5'/%3E%3Cstop offset='.1' stop-color='%23fd5'/%3E%3Cstop offset='.5' stop-color='%23ff543e'/%3E%3Cstop offset='1' stop-color='%23c837ab'/%3E%3C/radialGradient%3E%3CradialGradient id='skillIconsInstagram1' cx='0' cy='0' r='1' gradientTransform='matrix(22.25952 111.2061 -458.39518 91.75449 -42.881 18.441)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%233771c8'/%3E%3Cstop offset='.128' stop-color='%233771c8'/%3E%3Cstop offset='1' stop-color='%2360f' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
  }
  .logos--youtube-icon:hover{
    transform: scale(1.3);
z-index: 2;
  }
  .logos--youtube-icon {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 180'%3E%3Cpath fill='%23f00' d='M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134'/%3E%3Cpath fill='%23fff' d='m102.421 128.06l66.328-38.418l-66.328-38.418z'/%3E%3C/svg%3E");
  }
  .skill-icons--gmail-light:hover{
    transform: scale(1.3);
z-index: 2;
  }
  .skill-icons--gmail-light {
    display: inline-block;
    width: 42px;
  height: 42px;
    background-repeat: no-repeat;
    background-size:100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='%23f4f2ed' rx='60'/%3E%3Cpath fill='%234285f4' d='M41.636 203.039h31.818v-77.273L28 91.676v97.727c0 7.545 6.114 13.636 13.636 13.636'/%3E%3Cpath fill='%2334a853' d='M182.545 203.039h31.819c7.545 0 13.636-6.114 13.636-13.636V91.675l-45.455 34.091'/%3E%3Cpath fill='%23fbbc04' d='M182.545 66.675v59.091L228 91.676V73.492c0-16.863-19.25-26.477-32.727-16.363'/%3E%3Cpath fill='%23ea4335' d='M73.455 125.766v-59.09L128 107.583l54.545-40.909v59.091L128 166.675'/%3E%3Cpath fill='%23c5221f' d='M28 73.493v18.182l45.454 34.091v-59.09L60.727 57.13C47.227 47.016 28 56.63 28 73.493'/%3E%3C/g%3E%3C/svg%3E");
  }
  .devicon--twitter:hover{
    transform: scale(1.3);
z-index: 2;
  }
  .devicon--twitter {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath d='M75.916 54.2L122.542 0h-11.05L71.008 47.06L38.672 0H1.376l48.898 71.164L1.376 128h11.05L55.18 78.303L89.328 128h37.296L75.913 54.2ZM60.782 71.79l-4.955-7.086l-39.42-56.386h16.972L65.19 53.824l4.954 7.086l41.353 59.15h-16.97L60.782 71.793Z'/%3E%3C/svg%3E");
  }

.footer-text {
    text-align: center;
    color:var(--main-color);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: var(--bg-color);
}


/* media screen*/
@media (max-width: 576px) { 
    .home__name{
        text-align: center;
    }
    .text-1{
        font-size: 50%;
    }
      .paragraph{
        display: flex;
        justify-content: center;
    font-size: 5.5vw;
    padding: 5rem !important;
  }

}
/* Large devices (desktops, 992px and up)*/
@media(max-width:1064px){
   .paragraph{
    padding: 3rem;
    text-align: justify;
    margin-top: -6rem;
    
   }
    .home-container{
    grid-template-columns: 450px !important;
    justify-content: center;
   }
   .home-image{
    order: 0;
   }
   .home-img{
    width: 442px;
   }
   .home_perfill{
    position: relative;
    justify-content: center;
    padding: 0;
   }
   .home__name{
    font-size: 3rem !important;
   }
}

/*/ X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { 
     .home-container {
        grid-template-columns: repeat(2, 527px);
        gap: 2rem 4rem;
        align-items: center;
        padding-block: 5.5rem;
    }

}

/*/ XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1400px) { 
 

}