
:root {
    --bg-color:rgb(25,29,43);
    --text-color: #fdfdfd;
    --main-color: #27AE60;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .7);
    --black-color:rgba(0,0,0);
    --about-color-bg:rgb(47, 52, 70);
  }


.services{
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
}
.services h2 {
    margin-bottom: 5rem;
}
.heading {
    font-size: 3.5;
    text-align: center;
    color: var(--text-color);
    font-family: "Maven Pro",sans-serif;  

}
span{
    color:var(--main-color)
}
 .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
    transition: .5s ease;
}

.services-box:hover h3 {
    color: var(--main-color);
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    color: var(--text-color);
}
.services-box h3{
    color: var(--text-color);
}
a.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

a.btn:hover {
    background: transparent;
  color: var(--about-color-bg);
  border-color: var(--main-color);
}
